<!DOCTYPE html>
<html xmlns:th>

<head th:replace="~{layout/app :: head}"></head>

<body>

	<header th:replace="~{layout/app :: header}"></header>

	<div class="container mt-3">
		<div class="d-flex">
			<div class="p-2 flex-grow-1">
				<h3 th:text="${titulo}" class="my-3"></h3>
			</div>
			<div class="p-2"><a class="btn btn-dark" th:href="@{/cliente/} + ${factura.getCliente().getId()}">Regresar</a></div>
		</div>
		<div class="card text-center">
			<div class="card-header">
				Factura #<span class="fw-bold" th:text="${factura.id}"></span>
			</div>
			<div class="card-body">
				<div class="row justify-content-center">
					<div class="col-6">
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><b>Cliente:</b> <span th:text="${factura.cliente}"></span></li>
							<li class="list-group-item"><b>E-mail:</b> <span th:text="${factura.cliente.email}"></span></li>
							<li class="list-group-item"><b>Descripción:</b> <span th:text="${factura.descripcion}"></span></li>
							<li class="list-group-item"><b>Observación:</b> <span th:text="${factura.observacion}"></span><span th:if="${#strings.isEmpty(factura.observacion)}">Ninguna</span>
							</li>
							<li class="list-group-item"><b>Total:</b> <span th:text="${factura.total}" class="badge rounded-pill text-bg-success"></span></li>
						</ul>
						<hr>
						
					</div>
				</div>
				<div class="row justify-content-center"><h3 th:text="Productos" class="my-3"></h3></div>
			<div class="row mt-2">
				<table class="table table-success table-striped">
				 <thead>
					<tr>
						<th scope="col">Folio</th>
						<th scope="col">Nombre</th>
						<th scope="col">Precio</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="item: ${factura.items}">
					<td th:text="${item.producto.id}"></td>
					<td th:text="${item.producto.nombre}"></td>
					<td th:text="${item.producto.precio}"></td>
					<td th:text="${item.cantidad}"></td>
					<td th:text="${item.calcularImporte()}"></td>
				</tr>
			</tbody>
				</table>
			</div>
			</div>
			<div class="card-footer text-body-secondary">
				Fecha de creación: <span th:text="${factura.createdAt}"></span>
			</div>
		</div>
	</div>

	<footer th:replace="~{layout/app :: footer}"></footer>
</body>

</html>